format = """\
$directory\
$git_branch\
$git_status\
$git_metrics\
$python$golang$nodejs\
$character\
"""

[fill]
symbol = " "

[directory]
format = "[$path ]($style)"
truncation_length = 3
truncation_symbol = '…/'
truncate_to_repo = false

[git_branch]
format = '[$symbol$branch(:$remote_branch) ]($style)'
symbol = " "

[git_status]
format = '[$all_status ]($style)'

[git_metrics]
format = "([+$added ]($added_style))[]($added_style)"
deleted_style = "fg:bright-red bg:235"
disabled = false

[hg_branch]
format = "[ $symbol$branch ]($style)"
symbol = " "

[cmd_duration]
format = "[  $duration ]($style)"
style = "fg:bright-white bg:18"

[python]
symbol = ''
pyenv_version_name = true
format = '[${symbol} ${pyenv_prefix}(${version})(\($virtualenv\)) ]($style)'
pyenv_prefix = ""

[nodejs]
symbol = '󰎙'
format = "[$symbol ]($style)"

[golang]
symbol = ''
format = "[ $symbol $version ]($style)"
detect_extensions = ['go']

[character]
success_symbol = '[➜](bold green)'
error_symbol = '[✗](bold red)'

